<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/raphael.js"></script>
<script type="text/javascript" src="/javascripts/underscore.js"></script>

<style type="text/css">
	body {
		margin:0;
	}
	#content {
		padding:32px;
		position:relative;
	}
	#switcher div {
		height:78px;
		width:78px;
		position:absolute;
		top:30px;
	}

	#happySwitch {
		background:url('/images/buttons/Selected_Happy.png');
		right:180px;
	}

	#sadSwitch {
		right:100px;
		background:url('/images/buttons/Unselected_Sad.png');
	}

	.sad #happySwitch {
		background:url('/images/buttons/Unselected_Happy.png')
	}

	.sad #sadSwitch {
		background:url('/images/buttons/Selected_Sad.png');
	}



</style>

<div id="content" style="background:url('/images/lines-bg.png'); width:680px; margin:auto">
<div style="font-family:sans-serif; font-size:36px; color:#fff; font-weight:bold; margin:20px">Show me who's</div>
<div id="switcher">
	<div id="happySwitch"></div>
	<div id="sadSwitch"></div>
</div>

<div id="happyCanvas" style=" margin:auto; width:600px; padding:30px"></div>

</div>
<script type="text/javascript">
	// appologies_for_variables_with_underscores

	var size = 600,
		cols = 5,
		radius = 10,
		margin = Math.round(size / cols),
		max_radius = (margin / 2) * 1.2,
		x, y,
		max_happy, min_happy

	var lines = <%= raw @lines %>;
	// console.log(lines)

	lines = _.map(lines, function(x) { return x['line'] })

	max_happy = _.max(lines, function(line) { return line['happiness'] })['happiness'];
	min_happy = _.min(lines, function(line) { return line['happiness'] })['happiness'];
	happy_range = max_happy - min_happy

	max_sad = _.max(lines, function(line) { return line['sadness'] })['sadness'];
	min_sad = _.min(lines, function(line) { return line['sadness'] })['sadness'];
	sad_range = max_sad - min_sad

	var h_array = _.map(lines, function(line) { return max_radius * normalize_happiness(line['happiness'])})
	var s_array = _.map(lines, function(line) { return max_radius * normalize_sadness(line['sadness'])})

	var happyPaper = Raphael("happyCanvas", size, size);

	var circles = []

	$.each(lines, function(index, line) {
		// console.log(line)
		x = (margin / 2) + ((index % 5) * margin)
		y = (margin / 2) + (Math.floor(index / cols) * margin)

		circle = happyPaper.circle(x, y, h_array[index]);
		circle.attr("fill", "#349d2c");
		circle.attr("opacity", 0.75);
		circle.attr("stroke-width", 0);
		imageName = happyPaper.image('/images/homepage_stops/' + line_img(line['name']) + '.png', x-19, y-18, 40, 40);

		imageName.click(function() {
			window.location = '/lines/' + line['name'];
		})
		circles.push(circle);

	})

	$('#switcher').toggle(function() {
		$('#switcher').addClass('sad')
		$.each(circles, function(index, circle) {
			circle.animate(
				{ r: s_array[index], fill:'#d93130' },
				400
			)
		})
	}, function() {
		$('#switcher').removeClass('sad')
		$.each(circles, function(index, circle) {
			circle.animate(
				{ r: h_array[index], fill:"#349d2c" },
				400
			)
		})
	});


	function normalize_happiness(happy) {
		return (happy - min_happy) / happy_range
	}

	function normalize_sadness(sad) {
		return (sad - min_sad) / sad_range
	}

	function line_img(line_name) {
	    return (line_name.length > 1 || line_name == "H") ? "S" : line_name
  	}




</script>