<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Voronoi Diagram</title>
    <script type="text/javascript" src="/javascripts/d3.js"></script>
    <script type="text/javascript" src="/javascripts/d3.geom.js"></script>
    <style type="text/css">
    	body {
    		margin:0;
    	}
    	#voronoi {
    		border:16px solid #000;
    		position:absolute;
    		top:0;
    		right:0;
    		bottom:0;
    		left:0;
    	}
    	path {
    		cursor:pointer;
    	}
    	#stationName {
    		position:absolute;
    		top:10px;
    		right:20px;
    		font-family:sans-serif;
    		font-size:48px;
    		color:#fff;
    		text-shadow:2px 2px 2px #333;
    	}
    </style>
  </head>
  <body>

	<div id='voronoi'>
		<div id="stationName">Happy</div>
	</div>
  <script type="text/javascript">
    var stations = <%= raw @stations.to_json %>;

  	var w = 960,
				h = 500;

		var vertices = d3.range(100).map(function(d) {
		  return [Math.random() * w, Math.random() * h];
		});

		// console.log(vertices)
		vertices = stations.map(function(station) {
			// return [station[0] * w, station[1] * h]
			return [station[1] * w, h - (station[0] * h), station[2], station[3]]
		})

		// console.log(vertices)
		// vertices = stations

		var svg = d3.select("#voronoi")
		  .append("svg:svg");

		svg.selectAll("path")
		    .data(d3.geom.voronoi(vertices))
		  .enter().append("svg:path")
		    .attr("fill", function(d, i) { return 'rgb(' + Math.round(vertices[i][2] * 255) + ',0,0)' })
		    .attr("stroke-width", 0.5)
		    .attr("stroke", "#000")
		    .attr("d", function(d) { return "M" + d.join("L") + "Z"; })
		    .on("mouseover", function(d, i) { document.getElementById('stationName').innerHTML =  Math.round(100 * vertices[i][2]) + '% ' + vertices[i][3] })


		svg.selectAll("circle")
		    .data(vertices)
		  .enter().append("svg:circle")
		    .attr("transform", function(d) { return "translate(" + d.slice(0,2) + ")"; })
		    .attr("fill", "#fff")
		    .attr("r", 2);

    </script>

  </body>
</html>
